header{
  position: fixed;
  top: 0%;
  left: 0%;
  padding: 20px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0,5s;
}
a {
  text-decoration: none;
  color: #000;
}
.site-header { 
  border-bottom: 1px solid #ccc;
  padding: .5em 1em;
}
  
.site-header::after {
  content: "";
  display: table;
  clear: both;
}
  
.site-identity {
  float: left;
}
  
.site-identity h1 {
  font-size: 1.5em;
  margin: .7em 0 .3em 0;
  display: inline-block;
}
  
.site-identity img {
  max-width: 100px;
  float: left;
  margin: 0 10px 0 0;
}

.site-navigation {
  float: right;
  display: flex;

}
  
.site-navigation ul, li {
  margin: 0; 
  padding: 0;
}
  
.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}

.site-navigation li a {
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

/* mouse over link */
.site-navigation li a:hover {
  color: #02b8dd;
}

/* selected link */
.site-navigation li a:active {
  color: rgb(89, 0, 255);
}


.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 1em 1em; /* increase or decrease the padding values as needed */
}
  
  @media screen and (max-width: 768px) {
    .site-header {
      flex-direction: column;
      align-items: center;
    }
    
    .site-navigation {
      margin-top: 20px;
    }
    
    .nav {
      flex-direction: column;
      align-items: center;
    }
    
    .nav li {
      margin: 10px 0;
    }
  }