<!DOCTYPE html>
<HTML lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Create+Round">
    <title>Beemal Golding</title>
    <script>
      var pop=null;
    </script>
  </head>

  <body>
    <header class="site-header">
      <div class="site-identity">
          <a href="#"><img src="images/logo-beemal.JPG" alt="Site Name" /></a>
      </div>
      <nav class="site-navigation">
          <ul class="nav">
            <li><a href="index.html#main2">Accueil</a></li>
            <li><a href="index.html#services">Services</a></li>
            <li><a href="index.html#APropos">A Propos</a></li>
            <li><a href="index.html#realisations">Realisations</a></li>
            <li><a href="index.html#contact">Contact</a></li>
          </ul>
      </nav>
    </header>

    <section id="team"
        class="team-area team-area-content p-relative pt-120 pb-120 fix">
        <div class="circal1 item-zoom-inout"></div>
        <div class="circal2 item-zoom-inout"></div>
        <div class="circal3 item-zoom-inout"></div>
        <div class="circal4 item-zoom-inout"></div>
        <div class="container">
          <div class="row" id="service1">
            <div class="col-lg-5">
              <div
                class="wow fadeInLeft"
                data-animation="fadeInLeft"
                data-delay=".2s"
              >
              <img src="images/renovationDouche.jpg" alt="img" style="width: 400px; height: 400px;">
              </div>
            </div>
            <div class="col-lg-7">
              <div
                class="s-about-content pl-30 wow fadeInRight"
                data-animation="fadeInRight"
                data-delay=".2s"
              >
                <h2>TRAVAUX DE RENOVATION</h2>
                <span
                  ><i>Beemal</i> Golding / Travaux de rénovation
                </span>
                <p>
                  Envisagez-vous une rénovation pour votre local commercial ou d'habitation, BEEMAL 
                  GOLDING vous propose des devis (entreprises et particuliers) à petit prix avec ou sans
                  plans (2D/3D) en document physique et numérique.
                </p>
                <p>
                 Avec à son actif une bonne trentaine de travaux et de chantiers levés à ce jour, BEEMAL 
                 GOLDING vous accompagne dans la réussite de votre projet. Cette demarche comporte trois 
                 points:<br> - l'integration; En essayant de nous mettre a votre place nous partageons votre 
                 vision et vous apportons
                 des orientations optimales et adaptées à votre budget.<br> - La maquette; BEEMAL GOLDING conçoit pour vous
                 un plan correspondant à votre besoin tout en y associant un devis estimatif.<br> - le suivi; Un bon accompagnement
                 dans la réalisation des travaux vous permettra de comprendre chaque étape et de léver facilement les éventuelles
                 barrières afin de mener à bien votre projet.  
                </p>
              </div>
            </div>
          </div>
          <br>
          <div class="row" id="service2">
            <div class="col-lg-5">
              <div
                class="wow fadeInLeft"
                data-animation="fadeInLeft"
                data-delay=".2s"
              >
              <img src="images/humidite.jpg" alt="img" style="width: 550px; height: 400px;">
              </div>
            </div>
            <div class="col-lg-7">
              <div
                class="s-about-content pl-30 wow fadeInRight"
                data-animation="fadeInRight"
                data-delay=".2s"
              >
                <h2>HUMIDITE DES CONSTRUCTIONS</h2>
                <span
                  ><i>Beemal </i>Golding/ Humidité des constructions
                </span>
                <p>
                  Des problemes d'humidité chez vous, BEEMAL
                  GOLDING vous apporte des solutions précises et convenables pour les traitements 
                  tels que: <br> . Remontées capillaires <br> . Condensation <br> . Infiltration 
                </p>
                <p>
                  Grace à nos appareils spécialisés, nous procédons toujours par un dagnostic permettant de déterminer le type d'
                  humidité présente dans vos constructions avant tout traitement.
                </p>
              </div>
            </div>
          </div>
          <div class="row" id="service3">
            <div class="col-lg-5">
              <div
                class="wow fadeInLeft"
                data-animation="fadeInLeft"
                data-delay=".2s"
              >
              <img src="images/pollutioninterieur.jpg" alt="img"style="width: 400px; height: 400px;">
              </div>
            </div>
            <div class="col-lg-7">
              <div class="s-about-content pl-30 wow fadeInRight"
                data-animation="fadeInRight"
                data-delay=".2s">
                <h2>POLLUTION DE L'INTERIEUR</h2>
                <span
                  ><i>Beemal</i> Golding / Pollution de l'intérieur
                </span>
                <p>
                  La pollution de l'intérieur est à l'origine de nombreux problèmes de santé.<br> Les enfants et les personnes du troisieme 
                  âge souffrant des patholologies resporatoires sont les plus affectés.<br> De nombreuses bactéries et toxines(polluant intérieurs)
                  sont présentes dans nos habitations au quotidien.<br> C'est pourquoi BEEMAL GOLDING a mis sur pied un commisionnement qui nous permettra
                  d'améliorer l'air que nous respirons dans nos espaces clos et de réduire les risques de maladies (dermatites, rhinites...)<br> Parce que
                  bien filtrer l'air que nous respirons améliore la santé cardiovasculaire, BEEMAL GOLDING travaille à réduire les nuisances dues à la Pollution
                  de l'air intérieur en alliant tradItion et modernisme.<br> Une solution qui a fait ses preuves en aidant plus d'un à sortir de l'inconfort, des nuisances
                  olfactives, des symptômes divers non spécifiques(ORL, oculaires, cutanés ou respiratoires, maux de tête, fatigue, malaise, difficulté de concentration,...)   
                </p>
                
              </div>
            </div>
          </div><br>
          <div class="row" id="service4">
            <div class="col-lg-5">
              <div
                class="wow fadeInLeft"
                data-animation="fadeInLeft"
                data-delay=".2s"
              >
              <img src="images/jardin.jpg" alt="img"style="width: 400px; height: 400px;">
              </div>
            </div>
            <div class="col-lg-7">
              <div class="s-about-content pl-30 wow fadeInRight"
                data-animation="fadeInRight"
                data-delay=".2s">
                <h2>JARDIN ET POTAGER</h2>
                <span
                  ><i>Beemal</i> Golding / Jardin et Potager
                </span>
                <p>
                  Conscient du bien que la plante fournit à l'homme et à son environnement, BEEMAL GOLDING, entreprise qui intègre les enjeux environnementaux
                  et sociaux, vous accompagne dans la création de vos espaces verts (jardin et potager).<br> Des solutions simples et utiles pour les amoureux des
                  plantes. <br> Que vous soyez en hauteur ou que vous ayez un pied à terre, nous transformons vos espaces dédiés en de magnifiques lieux de bonheur
                  grâce à notre formule CCAB (Conseils, Création, Accompagnement et Bonheur). Une stratégie écoresponsable et essentielle à l'entretien et au développement 
                  des plantes domestiques ou sélectionnées. <br> Parce que la croissance d'une plante est fonction d'une part de l'environnement dans lequel elle se trouve, 
                  et d'autre part de l'encadrement qu'elle reçoit, entreprises et particuliers, n'hésitez pas à nous confier votre projet d'espace vert car "LA PLANTE C'EST
                  SON ENVIRONNEMENT" et BEEMAL GOLDING le sait très bien.       
                </p>
                
              </div>
            </div>
          </div><br>
          <div class="row" id="service5">
            <div class="col-lg-5">
              <div
                class="wow fadeInLeft"
                data-animation="fadeInLeft"
                data-delay=".2s"
              >
              <img src="images/Construction.jpg" alt="img">
              </div>
            </div>
            <div class="col-lg-7">
              <div
                class="s-about-content pl-30 wow fadeInRight"
                data-animation="fadeInRight"
                data-delay=".2s"
              >
                <h2>SERVICE IMMOBILIER</h2>
                <span
                  ><i>Beemal</i> Golding / Service Immobilier
                </span>
                <p>
                  Vous recherchez une solution adaptée au suivi de vos biens immobiliers, BEEMAL GOLDING propose un programme de gestion les plus simple. Entre étude de dossiers et 
                  enquête de moralité, nous mettons en valeur votre propriéte en choisissant pour vous le locataire qui convient le mieux. <br> BEEMAL GOLDING vous fournit un rapport détaillé mensuel,
                  trimestriel, semestriel et/ou annuel sur la situation technique et financière de votre bien. Grâce à son équipe de professionnels dynamiques et engagés, vous avez une meilleure 
                  visibilité sur l'ensemble des activités liées à votre bien immobilier. <br> BEEMAL GOLDING c'est plus de 10 années d'expérience dans la prospection
                  immobilière, l'immobilier d'habitation, l'immobilier commercial et la gestion des biens immobiliers.                                   
                </p> <br> <a href="serviceImmobilierDetails.html" class="button-2">More info</a>
              </div>
            </div>
          </div>
        </div> 
    </section>  
    <footer>
          <div class="container">
            <h1>Beemal Golding<span class="orange">.</span></h1>
            <div class="copyright">Copyright © 2023. Tous droits réservés.</div>
          </div>
    </footer>
  </body>    
</HTML>     